@CHARSET "EUC-KR";

.formtable {
	width: 350px;
	border: 1px solid blue;
	margin: 50px;
	padding: 20px;
}

.lable {
	text-align: right;	
}

.control {
	margin-left: 20px;
}

textarea {
	width: 300px;
	height: 100px;
}

input[type=text] {
	width: 100px;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}

th {
	background-color: yellow;
}

td {
	text-align: center;
}